@mixin cyan_link($color, $padding, $border_radius, $background) {
    color: $color;
    padding: $padding;
    border-radius: $border_radius;
    border: none;
    background-color: $background;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: hsl(180, 61%, 69%);
    }
}

@mixin background-svg($url) {
    background-color: $Dark_Violet;
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
}

//@include grid();