%body-padding {
    margin: 0 auto;
    padding: 0;
    width: 75%;

    @media (max-width: 1080px) {
        width: 90%;
    }
} 

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//@extend %flex-center;