%body-padding {
    margin: 0 auto;
    padding: 0;
    width: 80%;
} 

%flex {
    display: flex;
    justify-content: space-between;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//@extend %flex-center;