//Size
$desktop_Width: 1440px;
$mobile_Width: 375px;

//Main
$white_basic: rgb(255, 255, 255);
$Cyan: hsl(180, 66%, 49%);
$Cyan_hover: hsl(180, 61%, 69%);
$Dark_Violet: hsl(257, 27%, 26%);
$Dark_Violet_hover: hsl(258, 25%, 34%);

//Secondary
$Red: hsl(0, 87%, 67%);

//Neutral
$Gray: hsl(0, 0%, 75%);
$Gray_Mild: rgba(240,241,247,255);
$Grayish_Violet: hsl(257, 7%, 63%);
$Very_Dark_Blue: hsl(255, 11%, 22%);
$Very_Dark_Violet: hsl(260, 8%, 14%);

//Font
$font_size: 18px;
$family: 'Poppins';
$big_weight: 700;
$light_weight: 500;