.footer__wrap, main .boost__wrap, main .stats__wrap, main .result__wrap, main .shorten__wrap, main .introduction__wrap, .main_header {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}
@media (max-width: 1120px) {
  .footer__wrap, main .boost__wrap, main .stats__wrap, main .result__wrap, main .shorten__wrap, main .introduction__wrap, .main_header {
    width: 90%;
  }
}

main .boost__wrap, main .stats__wrap--header, main .result__wrap__container, main .shorten__wrap, .main_header .navbar .nav ul, .main_header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .result__wrap, .main_header .navbar .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: white;
  width: 100%;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
body a {
  text-decoration: none;
}
body li {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.main_header {
  padding-top: 2em;
}
.main_header .navbar {
  flex-direction: row;
}
@media (max-width: 1120px) {
  .main_header .navbar {
    justify-content: space-between;
  }
}
.main_header .navbar .logo {
  padding-right: -30px;
}
.main_header .navbar .nav {
  width: 100%;
}
.main_header .navbar .nav ul li {
  margin: 0 1.5rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #9e9aa7;
}
.main_header .navbar .nav ul li:hover:not(.header__signup) {
  color: black;
}
@media (max-width: 1120px) {
  .main_header .navbar .nav ul li {
    padding: 1rem 0;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: white;
  }
}
.main_header .navbar .nav ul .split {
  display: none;
  background-color: #9e9aa7;
  padding: 0;
  width: 90%;
  height: 1px;
}
@media (max-width: 1120px) {
  .main_header .navbar .nav ul .split {
    display: block;
  }
}
.main_header .navbar .nav ul .header__signup {
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #2acfcf;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.main_header .navbar .nav ul .header__signup:hover {
  background-color: #80e0e0;
}
@media (max-width: 1120px) {
  .main_header .navbar .nav ul .header__signup {
    width: 50%;
  }
}
@media (max-width: 1120px) {
  .main_header .navbar .nav ul {
    flex-direction: column;
    width: 90%;
  }
}
@media (max-width: 1120px) {
  .main_header .navbar .nav {
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 6rem;
    height: 450px;
    max-width: 90%;
    border-radius: 10px;
    text-align: center;
    background-color: #3b3054;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 2;
  }
}
.main_header .navbar .nav__active {
  right: 6%;
}
.main_header .navbar .hamburger {
  display: none;
}
@media (max-width: 1120px) {
  .main_header .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
}
.main_header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #9e9aa7;
}
.main_header .navbar .hamburger__active .bar:nth-child(2) {
  opacity: 0;
}
.main_header .navbar .hamburger__active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.main_header .navbar .hamburger__active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

main {
  margin-top: 6em;
}
@media (max-width: 1120px) {
  main {
    margin-top: 2em;
  }
}
main .introduction {
  position: relative;
  padding-bottom: 4rem;
}
@media (max-width: 1350px) {
  main .introduction {
    display: flex;
    flex-direction: column;
  }
}
main .introduction__img {
  position: absolute;
  right: 10px;
  top: -40px;
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 1350px) {
  main .introduction__img {
    position: relative;
  }
}
@media (max-width: 1350px) {
  main .introduction__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
main .introduction__wrap--text {
  margin-bottom: 3rem;
  width: 50%;
}
main .introduction__wrap--text h1 {
  font-size: 4.6em;
  opacity: 0.8;
  font-weight: 700;
}
@media (max-width: 1120px) {
  main .introduction__wrap--text h1 {
    font-size: 3.5em;
  }
}
main .introduction__wrap--text p {
  line-height: 30px;
  max-width: 40ch;
  font-size: 1.4rem;
  color: #9e9aa7;
}
@media (max-width: 1350px) {
  main .introduction__wrap--text p {
    max-width: 25ch;
  }
}
@media (max-width: 1350px) {
  main .introduction__wrap--text p {
    font-size: 1.2rem;
    max-width: 100%;
  }
}
@media (max-width: 1350px) {
  main .introduction__wrap--text {
    width: 80%;
    text-align: center;
    margin: 0 auto 2rem auto;
  }
}
main .introduction__wrap--link {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  min-width: 250px;
  text-align: center;
  color: white;
  padding: 15px 35px;
  border-radius: 25px;
  border: none;
  background-color: #2acfcf;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
main .introduction__wrap--link:hover {
  background-color: #80e0e0;
}
main .shorten {
  margin-top: 5rem;
  padding: 2rem 0;
  width: 100%;
  background: linear-gradient(to bottom, white 0%, white 50%, #f0f1f7 50%, #f0f1f7 100%);
}
@media (max-width: 1350px) {
  main .shorten {
    margin-top: 0;
    padding: 5rem 0;
  }
}
main .shorten__wrap {
  gap: 2rem;
  position: relative;
  background-color: #3b3054;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1110' height='168'%3E%3Cpath fill='%234B3F6B' fill-rule='evenodd' d='M647-93.924c0 52.724 15.5 90.486 73 114.877 57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552c89.976-51.322 130.765-171.152 103.88-241.807C1327.115-119.515 1275.593-184 1027-184c-248.593 0-380 37.353-380 90.076zm-781 213c0 52.724 15.5 90.486 73 114.877 57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552C559.095 354.626 599.884 234.796 573 164.141 546.115 93.485 494.593 29 246 29c-248.593 0-380 37.353-380 90.076z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 2rem;
  border-radius: 10px;
}
main .shorten__wrap input {
  width: 80%;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 18px;
  color: #9e9aa7;
}
main .shorten__wrap input::placeholder {
  opacity: 0.8;
}
main .shorten__wrap input:focus {
  outline: none;
}
main .shorten__wrap .errorInput {
  border-color: #f46262;
  border-width: 3px;
}
main .shorten__wrap .errorInput::placeholder {
  color: #f46262;
}
main .shorten__wrap--errorDisplay {
  display: none;
  position: absolute;
  color: #f46262;
  font-style: italic;
  top: 75%;
  left: 4%;
}
main .shorten__wrap .errorDisplay_active {
  display: block;
}
main .shorten__wrap button {
  color: white;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  border: none;
  background-color: #2acfcf;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  min-width: 200px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
}
main .shorten__wrap button:hover {
  background-color: #80e0e0;
}
@media (max-width: 1120px) {
  main .shorten__wrap {
    flex-direction: column;
    gap: 2.3em;
    padding: 1.4rem 1.2rem;
  }
  main .shorten__wrap input, main .shorten__wrap button {
    width: 95%;
  }
  main .shorten__wrap--errorDisplay {
    top: 44%;
    left: 6%;
  }
}
main .result {
  background-color: #f0f1f7;
  width: 100%;
  padding-bottom: 1rem;
}
main .result__wrap {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  position: relative;
}
main .result__wrap--long {
  color: black;
}
main .result__wrap--split {
  display: none;
  position: absolute;
  background-color: #9e9aa7;
  opacity: 0.5;
  padding: 0;
  width: 100%;
  height: 1px;
  top: 33%;
}
main .result__wrap__container {
  gap: 2rem;
}
main .result__wrap__container--short {
  color: #2acfcf;
}
main .result__wrap__container .copy {
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #2acfcf;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 20px;
  min-width: 150px;
  transition: 0.2 ease-out;
}
main .result__wrap__container .copy:hover {
  background-color: #80e0e0;
}
main .result__wrap__container .copied {
  background-color: #3b3054;
}
main .result__wrap__container .copied:hover {
  background-color: #4e416c;
}
main .result__wrap a:hover {
  opacity: 0.7;
}
main .result__wrap--removeIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  right: -12px;
  top: -10px;
  fill: white;
  background-color: #80e0e0;
  cursor: pointer;
  border-radius: 60%;
}
main .result__wrap--removeIcon:hover {
  border: 2px solid #80e0e0;
}
@media (max-width: 840px) {
  main .result__wrap {
    flex-direction: column;
    gap: 1rem;
  }
  main .result__wrap--long, main .result__wrap__container {
    padding: 0.5rem 0;
    width: 95%;
  }
  main .result__wrap--split {
    display: block;
  }
  main .result__wrap__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  main .result__wrap__container .copy {
    width: 100%;
    padding: 1rem 0;
  }
}
main .stats {
  background-color: #f0f1f7;
  width: 100%;
  padding: 2rem 0 6rem 0;
}
main .stats__wrap {
  margin-top: 4rem;
}
main .stats__wrap--header {
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 6rem;
  text-align: center;
}
main .stats__wrap--header h2 {
  font-size: 2.5rem;
}
main .stats__wrap--header p {
  line-height: 30px;
  font-size: 1.2rem;
  max-width: 50ch;
  color: #9e9aa7;
}
main .stats__wrap__cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-column-gap: 2rem;
}
@media (max-width: 1120px) {
  main .stats__wrap__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5rem;
  }
}
main .stats__wrap__cards--divider {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 40%;
  background-color: #2acfcf;
  z-index: 0;
}
@media (max-width: 1120px) {
  main .stats__wrap__cards--divider {
    height: 100%;
    width: 10px;
    left: 50%;
    top: 0;
  }
}
main .stats__wrap__cards--unit {
  position: relative;
  display: grid;
  align-content: center;
  padding: 0 1.5rem;
  background-color: white;
  border-radius: 5px;
  height: 280px;
  margin: 0 auto;
  z-index: 1;
}
@media (max-width: 1120px) {
  main .stats__wrap__cards--unit {
    justify-items: center;
    text-align: center;
  }
}
main .stats__wrap__cards--unit .svg__container {
  position: absolute;
  top: -15%;
  left: 10%;
  background-color: #3b3054;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
@media (max-width: 1120px) {
  main .stats__wrap__cards--unit .svg__container {
    left: calc(50% - 35px);
  }
}
main .stats__wrap__cards--unit .svg__container--wrap {
  position: relative;
}
main .stats__wrap__cards--unit .svg__container--wrap svg {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: calc(50% + 20px);
  left: calc(50% - 20px);
}
main .stats__wrap__cards--unit h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
}
main .stats__wrap__cards--unit p {
  line-height: 30px;
  font-size: 1.2rem;
  max-width: 50ch;
  color: #9e9aa7;
}
main .stats__wrap__cards--unit-2 {
  margin-top: 40px;
}
@media (max-width: 1120px) {
  main .stats__wrap__cards--unit-2 {
    margin-top: 0;
  }
}
main .stats__wrap__cards--unit-3 {
  margin-top: 80px;
}
@media (max-width: 1120px) {
  main .stats__wrap__cards--unit-3 {
    margin-top: 0;
  }
}
main .stats__wrap__cards--unit-3 .svg__container--wrap svg {
  top: calc(50% + 18px);
  left: calc(50% - 24px);
}
main .boost {
  background-color: #3b3054;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='250'%3E%3Cg fill='%234B3F6B' fill-rule='evenodd'%3E%3Cpath d='M830-63.482C830 19.351 854.36 78.678 944.732 117c90.371 38.321 177.686 3.352 265.277 23.4 87.59 20.048 87.59 149.195 170.077 228.671 82.486 79.476 256.405 98.781 397.82 18.15 141.415-80.632 205.52-268.896 163.267-379.902C1898.919-103.687 1817.943-205 1427.236-205S830-146.314 830-63.482zM-263.351 570.909c29.685 77.331 73.689 123.988 171.79 127.377 98.102 3.39 167.085-60.547 256.043-73.22 88.958-12.674 135.24 107.895 240.73 152.532 105.488 44.638 274.775.333 377.9-125.622C886.24 526.021 878.62 327.29 799.392 238.798 720.162 150.307 608.257 84.743 243.5 224.76c-364.757 140.017-536.537 268.818-506.852 346.149zM-514-377.482c0 82.833 24.36 142.16 114.732 180.482 90.371 38.321 177.686 3.352 265.277 23.4 87.59 20.048 87.59 149.195 170.077 228.671 82.486 79.476 256.405 98.781 397.82 18.15 141.415-80.632 205.52-268.896 163.267-379.902C554.919-417.687 473.943-519 83.236-519S-514-460.314-514-377.482z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
  width: 100%;
}
main .boost__wrap {
  flex-direction: column;
  gap: 2rem;
}
main .boost__wrap h2 {
  color: white;
  font-size: 2.5rem;
}
main .boost__wrap button {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  color: white;
  padding: 15px 35px;
  border-radius: 25px;
  border: none;
  background-color: #2acfcf;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
main .boost__wrap button:hover {
  background-color: #80e0e0;
}

.footer {
  padding: 3rem 0;
  background-color: #232127;
  color: white;
}
@media (max-width: 1220px) {
  .footer {
    padding-bottom: 1rem;
  }
}
.footer__wrap {
  display: grid;
  grid-template-columns: 35% repeat(4, 1fr);
}
@media (max-width: 1220px) {
  .footer__wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 0.5fr);
    justify-items: center;
    text-align: center;
  }
}
.footer__wrap--logo {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(176deg) brightness(103%) contrast(100%);
}
.footer__wrap--unit h4 {
  margin-bottom: 1.4rem;
}
@media (max-width: 1220px) {
  .footer__wrap--unit h4 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 1220px) {
  .footer__wrap--unit ul {
    margin-bottom: 2.2rem;
  }
}
.footer__wrap--unit ul li {
  cursor: pointer;
  margin: 10px 0;
  opacity: 0.8;
}
.footer__wrap--unit ul li:hover {
  color: #2acfcf;
}
.footer__wrap--links {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
@media (max-width: 1220px) {
  .footer__wrap--links {
    margin-top: 1rem;
  }
}
.footer__wrap--links svg {
  cursor: pointer;
  margin: 0 0.8rem;
  transition: 0.3s ease-in-out;
}
.footer__wrap--links svg:hover path {
  transition: 0.2s ease-in-out;
  fill: #2acfcf;
}

/*# sourceMappingURL=style.css.map */
